html, body {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
}

.main-text {
    font-weight: bold;
    text-align: center;
}